#ofBar {
	display: none !important;
}
/* .bg-gradient-dark {
    background-image: linear-gradient(156deg,#1e6e4d,#00ff5a);
} */
@font-face {
    font-family: 'Material Icons Round';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons Round'),
         local('MaterialIconsRound-Regular'),
         url('../fonts/MaterialIcons/MaterialIconsRound-Regular.otf') format('opentype');
}

.material-icons-round {
    font-family: 'Material Icons Round';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Ukuran ikon yang disukai */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Dukungan untuk semua browser WebKit. */
    -webkit-font-smoothing: antialiased;
    /* Dukungan untuk Safari dan Chrome. */
    text-rendering: optimizeLegibility;

    /* Dukungan untuk Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Dukungan untuk IE. */
    font-feature-settings: 'liga';
}

/* Roboto */
@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto/Roboto-Regular.ttf') format('truetype');
	font-weight: 400;
}
  
@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto/Roboto-Light.ttf') format('truetype');
	font-weight: 300;
}
  
@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto/Roboto-Medium.ttf') format('truetype');
	font-weight: 500;
}
  
@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto/Roboto-Bold.ttf') format('truetype');
	font-weight: 700;
}
  
@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto/Roboto-Black.ttf') format('truetype');
	font-weight: 900;
}
/* Roboto */
